
.openClose {
  display: none;  
}

.sidebar , .sidebar.open {
  position: fixed  ;


 width: 200px ; height: 100vh ;



}



@media (max-width: 775px) {
  .openClose {
    display: flex; 
    align-items: center;
    justify-content: center;
  }

  .a{
    width: 0px !important;
    height: 0px !important;
  }

.sidebar {
  position: fixed  !important;
  width: 99.5vw !important;
  height: 100vh;
 
 
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.closed {
  transform: translateX(-100%);
}


.sidebar.open {
  transform: translateX(0);
}

}
